
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

  .active, .item:hover {
    color:red;
  }

  #menu a{
    /* font-family: 'Playfair Display', serif; */
    font-weight: 400;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }

  h1{
    font-family: 'Playfair Display', serif;
  }

  h4, p{
    font-family: 'Poppins', sans-serif;
  }

  .section {
    box-shadow: 0px 0px 12px #00000017
  }
